/* set font */
body { 
    font-family: 'JetBrains Mono', monospace;
}

/* navbar styles */
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 0px;
    margin: 0px;
}

/* navbar links */
.navbar a {
    min-height: 60px;
    height: 60px;
    color: white;
    text-decoration: none;
    font-size: 32px;
    padding: 0px;
    margin: 0px;
}

/* navbar styles for mobile */
@media (max-width: 768px) 
{
    .navbar {
        flex-direction: row; 
        align-items: flex-start;
        padding: 10px; 
    }

    .navbar a {
        font-size: 16px; 
        margin-right: 0; 
        margin-bottom: 10px;
    }
}

/* booking formbox */
.form-box { 
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 20px;
}

/* grid layout */
.container {
    width: 40rem;
    height: 40rem;
    display: grid;
    grid-template-columns: auto auto auto;
}

/* grid layout mobile */
@media (max-width: 450px) {
    .container {
        grid-template-columns: 1fr;
    }
}

/* grid item styles */
.item {
    border: 2px solid white;
    color: white;
    display: flex;
    align-items: stretch;
    justify-items: stretch;
}

/* text and image direction */
.textdirection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    padding-left: 10%;
    padding-right: 10%;
}

/* text on the left image on the right */
.textdirection.left {
    flex-direction: row;
    margin-left: 10%;
}

/* text on the right image on the left */
.textdirection.right {
    flex-direction: row-reverse;
}

/* image width & styling */
.textdirection img {
    max-width: 40%;
    height: auto;
    margin-right: 20%;
}

/* text width  */
.textdirection p {
    max-width: 55%;
}
.text-content {
    display: flex;
    flex-direction: column; /* puts h1 and p on top of eachother */
    max-width: 55%; 
}

/* text and image direction mobile */
@media (max-width: 450px) {
    .textdirection {
        flex-direction: column;
        align-items: center;
        padding-left: 5%;
        padding-right: 5%;
    }

    .textdirection img {
        max-width: 80%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .textdirection p {
        max-width: 90%;
        text-align: center;
    }
}